spring:  profiles: local
server:
  http2:
    enabled: true  ssl:    enabled: true
    key-store-type: pkcs12
    key-store: file:C:/Users/kwong/Documents/certs/selfsigned/ca/my-service.p12
    key-store-password: abcd1234
    key-alias: my-cert
  tomcat:
    basedir: C:\Users\kwong\Documents\medium-projects\sts-wrksp\tomcat    accesslog:      enabled: true
      directory: logs---spring:  profiles: k8sserver:  http2:    enabled: true  forward-headers-strategy: native   ssl:    enabled: true    key-store-type: pkcs12    key-store: file:/usr/local/springboot/keystore/tomcat-keystore.p12    key-store-password: abcd1234    key-alias2: tomcat          tomcat:    basedir: /usr/local/springboot    accesslog:      enabled: true    remote-ip-header: x-forwarded-for    host-header: x-forwarded-host    port-header: x-forwarded-port    protocol-header: x-forwarded-proto    internal-proxies: logging:  level:    web: debug    org.apache.catalina.valves.RemoteIpValve: trace             