spring:  profiles: local
server:
  http2:
    enabled: true  ssl:    enabled: true
    key-store-type: pkcs12
    key-store: file:C:/Users/kwong/Documents/certs/selfsigned/ca/my-service.p12
    key-store-password: abcd1234
    key-alias: my-cert
  tomcat:
    basedir: C:\Users\kwong\Documents\medium-projects\sts-wrksp\tomcat    accesslog:      enabled: true
      directory: logs---spring:  profiles: k8sserver:  http2:    enabled: true  tomcat:    basedir: /usr/local/springboot    accesslog:      enabled: true             